Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
mysqlclient
channels
daphne
gunicorn
asgiref
requests
tensorflow==2.12.0
numpy==1.23.5
pillow
opencv-python-headless
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
python-gdcm
onnxruntime
celery==5.3.1
celery-types
redis
django-celery-results==2.5.1
channels_redis
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
dotenv
