@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-red: #B54A4A; /* Vermelho principal */
  --color-red-dark: #832E2E;  /* Vermelho escuro */
  --color-red-light: #FFEAEA; /* Vermelho claro */
  --color-red-pale: #EDD3D2;  /* Vermelho pálido */
  --color-red-soft: #FFCECE;  /* Vermelho suave */

  --color-yellow: #FFD06A; /* Amarelo destaque */

  --color-gray-dark: #292121;
  --color-gray-medium-dark: #727272;
  --color-gray-medium: #848484;
  --color-gray-light: #E8E8E8;
  --color-gray-pale: #D9D9D9;
  --color-gray-soft: #F0F0F0;

  --color-green: #A4D65E; /* Verde */
}

@layer base {
  *, :before, :after {
    box-sizing: border-box;
  }  
  a {
    font-weight: 500;
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  h1 {
    @apply text-5xl font-bold leading-tight;
  }
  h2 {
    @apply text-4xl font-bold leading-tight;
  }
  h3 {
    @apply text-3xl font-bold leading-tight;
  }
  h4 {
    @apply text-2xl font-bold leading-snug;
  }
  h5 {
    @apply text-xl font-bold leading-snug;
  }
  h6 {
    @apply text-lg font-bold leading-snug;
  }
}

@layer components {
  
}

:root {
  font-family: 'Albert Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* A altura do cabeçalho */
  --header-height: 80px;

  /* Contando com a altura do cabeçalho, qual a altura disponível para o conteúdo */
  --content-height: calc(100vh - var(--header-height));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.login-page {
  background-color: #FFEAEA; /* Azul */
  margin: 0;
  display: flex;
  height: 100vh;
}

.grid-texture:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/grid-texture.png');
  mask-image: radial-gradient(circle at center, black 0%, transparent 90%);
  opacity: 0.25;
}

.custom-file-upload > input[type="file"] {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--color-red-pale) !important
}

/* interpolate-size é uma propriedade recente que ainda não é suportada pelo React */
.patient-row-menu {
  interpolate-size: allow-keywords;
}

